{{define "header"}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{template "title"}}</title>

        <script src="/js/jquery.min.js" charset="utf-8"></script>
        <script src="/js/promise.min.js" charset="utf-8"></script>
        <script src="/js/fetch.min.js" charset="utf-8"></script>
        <script src="/js/uikit.min.js" charset="utf-8"></script>

        <link rel="stylesheet" href="/css/uikit.almost-flat.min.css">
        <link rel="stylesheet" href="/css/style.css">

        {{template "scripts"}}
    </head>
    <body>
{{end}}
