{{define "title"}}Pygmy Hedgehog Rehoming{{end}}
{{define "color"}}heading-background{{end}}

{{define "heading"}}
<div class="uk-text-center uk-width-1-1" id="heading">
    About
</div>
{{end}}

{{define "body"}}
    <p class="uk-width-1-1">
        The African Pygmy Hedgehog Club UK Rehoming Service is open to all owners, not only of pygmy hedgehogs but also other small spikies (such as long eared hedgehogs and tenrecs), who are unable to look after their pets any more and wish to find them a knowledgeable new home.
    </p>

    <p class="uk-width-1-1">
        The APHUK Club Rehoming Service is run by, and affiliated with, the APHUK Club.  At this early stage our action group includes some of our Committee members and some approved breeders but we are hoping that, as the Service expands, some active members on the APHUK Club group may also become involved.  As a fledgling Service we are open to suggestions in terms of development moving forward.
    </p>

    <p class="uk-width-1-1">
        Our aim is to facilitate a flexible and streamlined rehoming service based on individual cases. We would like to remove any notion of stigma that some owners may worry about, when they are required to make the difficult decision to move their pets on to new homes.  We do however appreciate that many situations are likely to require discretion and confidentiality.
    </p>

    <p class="uk-width-1-1">
        The Service will have a network of foster carers however we are also hopeful that, in some cases, animals may be able to move straight from one household to the next without the need for foster care.  Animals in foster care will always be kept in a home environment and will receive a high standard of care.
    </p>

    <p class="uk-width-1-1">
        The APHUK Rehoming Service is a non-profit organisation.  Any fund raising that is done along the way will be to raise moneys for vet bills and transport.  Accurate financial records will be kept of all Service-related income and expenditure.
    </p>
{{end}}
