{{define "title"}}Pygmy Hedgehog Rehoming{{end}}
{{define "color"}}heading-background{{end}}
{{define "scripts"}}
    <script src="/js/adoption.js" charset="utf-8"></script>
    <script src="/js/components/lightbox.min.js" charset="utf-8"></script>
{{end}}

{{define "heading"}}
    <div class="uk-text-center uk-width-1-1" id="heading">
        Hedgehogs For Adoption
    </div>
{{end}}

{{define "body"}}
    <div id="adoption-details" class="uk-grid uk-width-1-1">
        <div class="uk-h3 uk-margin-large-bottom uk-width-1-1">Click the image for more information</div>

        <a class="uk-text-center uk-width-1-2" name="albert">
            <img class="uk-margin-small-bottom" src="/images/hedgehogs/albert-small.jpg" />
            <br />
            <span class="uk-h3">Albert</span>
        </a>

        <a class="uk-text-center uk-width-1-2" name="wispa">
            <img class="uk-margin-small-bottom" src="/images/hedgehogs/wispa-small.png" />
            <br />
            <span class="uk-h3">Wispa</span>
        </a>
    </div>

    <div id="albert" class="uk-grid uk-margin-top-remove uk-width-1-1 uk-hidden hedgehog">
        <a href="/images/hedgehogs/albert.jpg" title="Albert" data-uk-lightbox>
            <img src="/images/hedgehogs/albert-small.jpg" />
        </a>
        <br />
        <div>
            <span class="uk-h3">Albert</span> <br />
            Colour: Albino <br />
            Gender: Male <br />
            Age: 2-3 years old. <br />
            Health Status: Healthy <br />
        </div>
        <div class="uk-grid uk-width-1-1 uk-float">
            <p class="uk-width-1-1">
                Albert will require a patient home with someone that is willing to work with him, Albert doesn't like to be handled and will need regular handling to help him become more hand friendly. He's a little grumpy but has moved home many times in his life time and with a caring, patient, stable home he may start to settle and become a bit more confident.
                He's currently in foster care and his foster carer is handling him daily to help him gain confidence.
                He's currently being fostered in Wales but can arrange transport to his forever home.
            </p>
        </div>
    </div>

    <div id="wispa" class="uk-grid uk-margin-top-remove uk-width-1-1 uk-hidden hedgehog">
        <a href="/images/hedgehogs/wispa.jpg" title="Wispa" data-uk-lightbox>
            <img src="/images/hedgehogs/wispa-small.png" />
        </a>
        <br />
        <div>
            <span class="uk-h3">Wispa</span> <br />
            Colour: Chocolate <br />
            Gender: Female <br />
            Age: 18 months - 2 years old. <br />
            Health Status: Healthy <br />
        </div>
        <div class="uk-grid uk-width-1-1 uk-float">
            <p class="uk-width-1-1">
                Wispa is a lovely girl who's been passed around a few homes.
                She's huffy at first but takes very little time before she comes around.
                She's a sweet girl who will benefit from a loving forever home.
                She will need weaning on to better food as her current diet isn't great.
                 Wispa is looking for a pet only home.
            </p>
        </div>
    </div>
{{end}}
