
{{define "title"}}Pygmy Hedgehog Rehoming{{end}}
{{define "color"}}heading-background{{end}}
{{define "scripts"}}
    <script src="/js/adoption.js" charset="utf-8"></script>
    <script src="/js/components/lightbox.min.js" charset="utf-8"></script>
{{end}}
{{define "styles"}}
    <link rel="stylesheet" href="/css/components/slidenav.almost-flat.min.css" />
{{end}}


{{define "heading"}}
    <div class="uk-text-center uk-width-1-1" id="heading">
        Hedgehogs For Adoption
    </div>
{{end}}

{{define "body"}}
    <div id="adoption-details" class="uk-width-1-1">
        <ul class="uk-tab" data-uk-tab="{connect: '#adoption'}">
          <li class="uk-active">
              <a class="uk-text-bold">For Adoption</a>
          </li>
          <li>
              <a class="uk-text-bold">Adopted</a>
          </li>
          <li>
              <a class="uk-text-bold">Permanent</a>
          </li>
        </ul>

        <ul id="adoption" class="uk-switcher uk-margin-top">
            <div name="for adoption" class="uk-grid uk-width-1-1">
                <div class="uk-h3 uk-margin-bottom uk-width-1-1 uk-margin-left">Click the image for more information</div>
                
                <a class="uk-text-center uk-width-1-2 uk-margin-large-top" name="titch">
                    <img class="uk-margin-small-bottom" src="/images/hedgehogs/titch.jpg"/>
                    <br/>
                    <span class="uk-h3">Titch</span>
                </a>

                <a class="uk-text-center uk-width-1-2 uk-margin-large-top" name="theo">
                    <img class="uk-margin-small-bottom" src="/images/hedgehogs/theo.jpg"/>
                    <br/>
                    <span class="uk-h3">Theo</span>
                </a>
            </div>

            <div name="adopted" class="uk-grid uk-width-1-1 uk-margin-top-remove">
                <div class="uk-h3 uk-margin-bottom uk-width-1-1 uk-margin-left">Click the image for more information</div>

                <a class="uk-text-center uk-width-1-2 uk-margin-large-top" name="albert">
                    <img class="uk-margin-small-bottom" src="/images/hedgehogs/albert.jpg" />
                    <br />
                    <span class="uk-h3 uk-text-center">Albert</span>
                </a>

                <a class="uk-text-center uk-width-1-2 uk-margin-large-top" name="wispa">
                    <img class="uk-margin-small-bottom" src="/images/hedgehogs/wispa.jpg" />
                    <br />
                    <span class="uk-h3">Wispa</span>
                </a>

                <a class="uk-text-center uk-width-1-2 uk-margin-large-top">
                    <img class="uk-margin-small-bottom" src="/images/hedgehogs/zeus.jpg" />
                    <br />
                    <span class="uk-h3">Zues</span>
                </a>

                <a class="uk-text-center uk-width-1-2 uk-margin-large-top">
                    <img class="uk-margin-small-bottom" src="/images/hedgehogs/shylo.jpg" />
                    <br />
                    <span class="uk-h3">Shylo</span>
                </a>

                <a class="uk-text-center uk-width-1-2 uk-margin-large-top" name="tigward">
                    <img class="uk-margin-small-bottom" src="/images/hedgehogs/tigward.jpg" />
                    <br />
                    <span class="uk-h3">Tigward</span>
                </a>

                <a class="uk-text-center uk-width-1-2 uk-margin-large-top">
                    <img class="uk-margin-small-bottom" src="/images/hedgehogs/tobi.jpg" />
                    <br />
                    <span class="uk-h3">Tobi</span>
                </a>

                <a class="uk-text-center uk-width-1-2 uk-margin-large-top">
                    <img class="uk-margin-small-bottom" src="/images/hedgehogs/nymeria.jpg" />
                    <br />
                    <span class="uk-h3">Nymeria</span>
                </a>

                <a class="uk-text-center uk-width-1-2 uk-margin-large-top">
                    <img class="uk-margin-small-bottom" src="/images/hedgehogs/tatty.jpg" />
                    <br />
                    <span class="uk-h3">Tatty</span>
                </a>

                <a class="uk-text-center uk-width-1-2 uk-margin-large-top">
                    <img class="uk-margin-small-bottom" src="/images/hedgehogs/munchkin.jpg" />
                    <br />
                    <span class="uk-h3">Munchkin</span>
                </a>

                <a class="uk-text-center uk-width-1-2 uk-margin-large-top">
                    <img class="uk-margin-small-bottom" src="/images/hedgehogs/dinsdale.jpg" />
                    <br />
                    <span class="uk-h3">Dinsdale</span>
                </a>

                <a class="uk-text-center uk-width-1-2 uk-margin-large-top">
                    <img class="uk-margin-small-bottom" src="/images/hedgehogs/herbie.jpg" />
                    <br />
                    <span class="uk-h3">Herbie</span>
                </a>

                <a class="uk-text-center uk-width-1-2 uk-margin-large-top">
                    <img class="uk-margin-small-bottom" src="/images/hedgehogs/dave.jpg"/>
                    <br/>
                    <span class="uk-h3">Dave</span>
                </a>

                <a class="uk-text-center uk-width-1-2 uk-margin-large-top">
                    <img class="uk-margin-small-bottom" src="/images/hedgehogs/autumn.jpg"/>
                    <br/>
                    <span class="uk-h3">Autumn</span>
                </a>

                <a class="uk-text-center uk-width-1-2 uk-margin-large-top">
                    <img class="uk-margin-small-bottom" src="/images/hedgehogs/quilliam.jpg"/>
                    <br/>
                    <span class="uk-h3">Quilliam</span>
                </a>

                <a class="uk-text-center uk-width-1-2 uk-margin-large-top">
                    <img class="uk-margin-small-bottom" src="/images/hedgehogs/preston.jpg"/>
                    <br/>
                    <span class="uk-h3">Preston</span>
                </a>

                <a class="uk-text-center uk-width-1-2 uk-margin-large-top">
                    <img class="uk-margin-small-bottom" src="/images/hedgehogs/squidge.jpg"/>
                    <br/>
                    <span class="uk-h3">Squidge</span>
                </a>

                <a class="uk-text-center uk-width-1-2 uk-margin-large-top">
                    <img class="uk-margin-small-bottom" src="/images/hedgehogs/rosie.jpg"/>
                    <br/>
                    <span class="uk-h3">Rosie</span>
                </a>

                <a class="uk-text-center uk-width-1-2 uk-margin-large-top">
                    <img class="uk-margin-small-bottom" src="/images/hedgehogs/bramble.jpg"/>
                    <br/>
                    <span class="uk-h3">Bramble</span>
                </a>

                <a class="uk-text-center uk-width-1-2 uk-margin-large-top">
                    <img class="uk-margin-small-bottom" src="/images/hedgehogs/kazooie.jpg"/>
                    <br/>
                    <span class="uk-h3">Kazooie</span>
                </a>

                <a class="uk-text-center uk-width-1-2 uk-margin-large-top">
                    <img class="uk-margin-small-bottom" src="/images/hedgehogs/north.jpg"/>
                    <br/>
                    <span class="uk-h3">North</span>
                </a>

                <a class="uk-text-center uk-width-1-2 uk-margin-large-top">
                    <img class="uk-margin-small-bottom" src="/images/hedgehogs/ada.jpg"/>
                    <br/>
                    <span class="uk-h3">Ada</span>
                </a>

                <a class="uk-text-center uk-width-1-2 uk-margin-large-top">
                    <img class="uk-margin-small-bottom" src="/images/hedgehogs/sir-arthur-oreo.jpg"/>
                    <br/>
                    <span class="uk-h3">Sir Arthur Oreo</span>
                </a>

                <a class="uk-text-center uk-width-1-2 uk-margin-large-top">
                    <img class="uk-margin-small-bottom" src="/images/hedgehogs/bertie.jpg"/>
                    <br/>
                    <span class="uk-h3">Bertie</span>
                </a>

                <a class="uk-text-center uk-width-1-2 uk-margin-large-top">
                    <img class="uk-margin-small-bottom" src="/images/hedgehogs/willow.jpg"/>
                    <br/>
                    <span class="uk-h3">Willow</span>
                </a>

                <a class="uk-text-center uk-width-1-2 uk-margin-large-top">
                    <img class="uk-margin-small-bottom" src="/images/hedgehogs/harold.jpg"/>
                    <br/>
                    <span class="uk-h3">Harold</span>
                </a>

                <a class="uk-text-center uk-width-1-2 uk-margin-large-top">
                    <img class="uk-margin-small-bottom" src="/images/hedgehogs/mae.jpg"/>
                    <br/>
                    <span class="uk-h3">Mae</span>
                </a>

                <a class="uk-text-center uk-width-1-2 uk-margin-large-top">
                    <img class="uk-margin-small-bottom" src="/images/hedgehogs/tiggy.jpg"/>
                    <br/>
                    <span class="uk-h3">Tiggy</span>
                </a>

                <a class="uk-text-center uk-width-1-2 uk-margin-large-top">
                    <img class="uk-margin-small-bottom" src="/images/hedgehogs/pixie.jpg"/>
                    <br/>
                    <span class="uk-h3">Pixie</span>
                </a>

                <a class="uk-text-center uk-width-1-2 uk-margin-large-top">
                    <img class="uk-margin-small-bottom" src="/images/hedgehogs/poppy.jpg"/>
                    <br/>
                    <span class="uk-h3">Poppy</span>
                </a>

                <a class="uk-text-center uk-width-1-2 uk-margin-large-top" name="sully">
                    <img class="uk-margin-small-bottom" src="/images/hedgehogs/sully.jpg" />
                    <br />
                    <span class="uk-h3">Sully</span>
                </a>

                <a class="uk-text-center uk-width-1-2 uk-margin-large-top" name="tails">
                    <img class="uk-margin-small-bottom" src="/images/hedgehogs/tails.jpg" />     
                    <br />
                    <span class="uk-h3">Tails</span>
                </a>

                <a class="uk-text-center uk-width-1-2 uk-margin-large-top" name="knuckles">
                    <img class="uk-margin-small-bottom" src="/images/hedgehogs/knuckles.jpg"/>
                    <br/>
                    <span class="uk-h3">Knuckles</span>
                </a>                

                <a class="uk-text-center uk-width-1-2 uk-margin-large-top" name="bob">
                    <img class="uk-margin-small-bottom" src="/images/hedgehogs/bob.jpg"/>
                    <br/>
                    <span class="uk-h3">Bob</span>
                </a>

                <a class="uk-text-center uk-width-1-2 uk-margin-large-top" name="hitchcock">
                    <img class="uk-margin-small-bottom" src="/images/hedgehogs/hitchcock.jpg"/>
                    <br/>
                    <span class="uk-h3">Hitchcock</span>
                </a>

                <a class="uk-text-center uk-width-1-2 uk-margin-large-top" name="krampus">
                    <img class="uk-margin-small-bottom" src="/images/hedgehogs/krampus.jpg"/>
                    <br/>
                    <span class="uk-h3">Krampus</span>
                </a>

                <a class="uk-text-center uk-width-1-2 uk-margin-large-top" name="henry">
                    <img class="uk-margin-small-bottom" src="/images/hedgehogs/henry.jpg"/>
                    <br/>
                    <span class="uk-h3">Henry</span>
                </a>
            </div>

            <div name="permanent" class="uk-grid uk-width-1-1">
                <a class="uk-text-center uk-width-1-2 uk-margin-large-top" name="gigi">
                    <img class="uk-margin-small-bottom" src="/images/hedgehogs/gigi.jpg"/>
                    <br/>
                    <span class="uk-h3">Gigi</span>
                </a>

                <a class="uk-text-center uk-width-1-2 uk-margin-large-top" name="belushi">
                    <img class="uk-margin-small-bottom" src="/images/hedgehogs/belushi.jpg"/>
                    <br/>
                    <span class="uk-h3">Belushi</span>
                </a>
            </div>
        </ul>
    </div>

    <div id="albert" class="uk-grid uk-margin-large-top-remove uk-width-1-1 uk-hidden hedgehog">
        <img src="/images/hedgehogs/albert.jpg" />
        <br />
        <div>
            <span class="uk-h3">Albert</span> <br /> <br />
            Colour: Albino <br />
            Gender: Male <br />
            Age: 2-3 years old. <br />
            Health Status: Healthy <br />
        </div>
        <div class="uk-grid uk-width-1-1 uk-float">
            <p class="uk-width-1-1">
                Albert will require a patient home with someone that is willing to work with him, Albert doesn't like to be handled and will need regular handling to help him become more hand friendly. He's a little grumpy but has moved home many times in his life time and with a caring, patient, stable home he may start to settle and become a bit more confident.
                He's currently in foster care and his foster carer is handling him daily to help him gain confidence.
                He's currently being fostered in Wales but can arrange transport to his forever home.
            </p>
        </div>
    </div>

    <div id="zeus" class="uk-grid uk-margin-large-top-remove uk-width-1-1 uk-hidden hedgehog">
        <a href="/images/hedgehogs/zeus.jpg" title="Zeus" data-uk-lightbox>
            <img src="/images/hedgehogs/zeus-small.jpg" />
        </a>
        <br />
        <div>
            <span class="uk-h3">Zeus</span> <br />
            Colour: Grey <br />
            Gender: Male <br />
            Age: 1 and a half years old. <br />
            Health Status: Healthy <br />
        </div>
        <div class="uk-grid uk-width-1-1 uk-float">
            <p class="uk-width-1-1">
                Zeus could do with dropping a little bit of weight, he's a sweet boy who has suffered with some quill loss due to unknown reasons.
                He's currently not up for rehoming until his quills come back and his weight is a little better, however if you're interested in offering him a forever home please fill in the adoption form.
            </p>
        </div>
    </div>

    <div id="pinny" class="uk-grid uk-margin-large-top-remove uk-width-1-1 uk-hidden hedgehog">
        <a href="/images/hedgehogs/pinny.jpg" title="Pinny" data-uk-lightbox>
            <img src="/images/hedgehogs/pinny1-small.jpg" />
        </a>
        <br />
        <div>
            <span class="uk-h3">Pinny</span> <br />
            Colour: Grey <br />
            Gender: Female <br />
            Age: 5 and a half months. <br />
            Health Status: Healthy <br />
        </div>
        <div class="uk-grid uk-width-1-1 uk-float">
            <p class="uk-width-1-1">
                Pinny is a lovely girl who's a little huffy when you first get her out however she soon settles and is very friendly.
                She likes to explore and likes to cuddle up on your arm. She will make a wonderful first time hedgehog.
                As she's young she will need to be handled regularly to maintain her friendly temperament. She is possibly reserved.
            </p>
        </div>
    </div>

    <div id="wispa" class="uk-grid uk-margin-large-top-remove uk-width-1-1 uk-hidden hedgehog">
        <a href="/images/hedgehogs/wispa.jpg" title="Wispa" data-uk-lightbox>
            <img src="/images/hedgehogs/wispa.jpg" />
        </a>
        <br />
        <div>
            <span class="uk-h3">Wispa</span> <br /> <br />
            Colour: Chocolate <br />
            Gender: Female <br />
            Age: 18 months - 2 years old. <br />
            Health Status: Healthy <br />
        </div>
        <div class="uk-grid uk-width-1-1 uk-float">
            <p class="uk-width-1-1">
                Wispa is a lovely girl who's been passed around a few homes.
                She's huffy at first but takes very little time before she comes around.
                She's a sweet girl who will benefit from a loving forever home.
                She will need weaning on to better food as her current diet isn't great.
                 Wispa is looking for a pet only home.
            </p>
        </div>
    </div>

    <div id="shylo" class="uk-grid uk-margin-large-top-remove uk-width-1-1 uk-hidden hedgehog">
        <a href="/images/hedgehogs/shylo.jpg" title="Shylo" data-uk-lightbox="{group: 'shylo'}">
            <img src="/images/hedgehogs/shylo.jpg" />
        </a>
        <br />
        <div>
            <span class="uk-h3">Shylo</span> <br /> <br />
            Colour: Brown <br />
            Gender: Male <br />
            Age: Almost 4 <br />
            Health Status: Healthy <br />
        </div>
        <div class="uk-grid uk-width-1-1 uk-float">
            <p class="uk-width-1-1">
                <b>**SPECIAL HOME WANTED**</b>
                <br />
                This is Shylo, this handsome boy is almost 4 years old. Sadly his owner made the heartbreaking choice to rehome him.
                This boy is looking for a home to spend the rest of his life.
                Due to his age we can't say if this will be months or a year+ and we understand this may put a lot of people off.
                However if you can give Shylo a great retirement home please get in touch.
                Due to his age we are willing to drop his rehoming fee in hopes of finding a nice mummy or daddy to cuddle with.
                He is on the large side (600g) but he's with a lovely carer who's working with him to try to get his weight down.
                Any owner would potentially have to keep this work up to maintain a good healthy weight.
            </p>
        </div>
    </div>

    <div id="tigward" class="uk-grid uk-margin-large-top-remove uk-width-1-1 uk-hidden hedgehog">
        <a href="/images/hedgehogs/tigward.jpg" title="Tigward" data-uk-lightbox>
            <img src="/images/hedgehogs/tigward.jpg" />
        </a>
        <div>
            <span class="uk-h3">Tigward</span> <br />
            Colour: Reverse Pinto <br />
            Gender: Male <br />
            Age: 2 years and 7 months <br />
            Health Status: Healthy <br />
        </div>
        <div class="uk-grid uk-width-1-1 uk-float">
            <p class="uk-width-1-1">
                Tigward is a lovely boy, handsome with a sweet nature.
                He's already won the heart of his foster carer.
                He's only just arrived in our care we will write more about him as we get to know him better.
            </p>
        </div>
    </div>

    <div id="gigi" class="uk-grid uk-margin-large-top-remove uk-width-1-1 uk-hidden hedgehog">
        <a href="/images/hedgehogs/gigi.jpg" title="Gigi" data-uk-lightbox>
            <img src="/images/hedgehogs/gigi.jpg" />
        </a>
        <div>
            <span class="uk-h3">Gigi</span> <br />
            Gender: Female <br />
            Age: 5 years <br />
        </div>
        <div class="uk-grid uk-width-1-1 uk-float">
            <p class="uk-width-1-1">
                Due to her age we felt it was best that she lives out the rest of her life being doated on by her foster parents.
            </p>
        </div>
    </div>

    <div id="belushi" class="uk-grid uk-margin-large-top-remove uk-width-1-1 uk-hidden hedgehog">
        <a href="/images/hedgehogs/belushi.jpg" title="Belushi" data-uk-lightbox>
            <img src="/images/hedgehogs/belushi.jpg" />
        </a>
        <div>
            <span class="uk-h3">Belushi</span> <br />
            Gender: Female <br />
            Age: 4 years <br />
        </div>
        <div class="uk-grid uk-width-1-1 uk-float">
            <p class="uk-width-1-1">
                Belushi's foster carer felt it was best that he spent the rest of his life with her as he's now showing his age and is settled with her.
            </p>
        </div>
    </div>

    <div id="sully" class="uk-grid uk-margin-large-top-remove uk-width-1-1 uk-hidden hedgehog">
        <a href="/images/hedgehogs/sully.jpg" title="Sully" data-uk-lightbox>
            <img src="/images/hedgehogs/sully.jpg" />
        </a>
        <div>
            <span class="uk-h3">Sully</span> <br />
            Gender: Male <br />
            Age: Almost 4 years <br />
            Status: Adopted
        </div>
        <div class="uk-grid uk-width-1-1 uk-float">
            <p class="uk-width-1-1">
                Sully is a very sweet boy, he's not by any means an "easy" hedgehog but he's come on leaps and bounds in his foster carers home.
            </p>
        </div>
    </div>

    <div id="tails" class="uk-grid uk-margin-large-top-remove uk-width-1-1 uk-hidden hedgehog">
        <a href="/images/hedgehogs/tails.jpg" title="Tails" data-uk-lightbox>
            <img src="/images/hedgehogs/tails.jpg" />
        </a>
        <div>
            <span class="uk-h3">Tails</span> <br />
            Gender: Male <br />
            Age: 13 Months Old <br />
            Status: Adopted
        </div>
        <div class="uk-grid uk-width-1-1 uk-float">
            <p class="uk-width-1-1">
                Tails is a very shy boy, he needs a confident home that is prepared to put in the hard work needed to bring him out of his shell.
            </p>
        </div>
    </div>

    <div id="knuckles" class="uk-grid uk-margin-large-top-remove uk-width-1-1 uk-hidden hedgehog">
        <a href="/images/hedgehogs/knuckles.jpg" title="Knuckles" data-uk-lightbox>
            <img src="/images/hedgehogs/knuckles.jpg" />
        </a>
        <div>
            <span class="uk-h3">Knuckles</span> <br />
            Gender: Male <br />
            Age: 13 Months Old <br />
            Status: Adopted
        </div>
        <div class="uk-grid uk-width-1-1 uk-float">
            <p class="uk-width-1-1">
                Knuckles is a big boy who's a little shy at first but with confident handling will make a great pet.
            </p>
        </div>
    </div>    

    <div id="bob" class="uk-grid uk-margin-large-top-remove uk-width-1-1 uk-hidden hedgehog">
        <a href="/images/hedgehogs/bob.jpg" title="Bob" data-uk-lightbox>
            <img src="/images/hedgehogs/bob.jpg" />
        </a>
        <div>
            <span class="uk-h3">Bob</span> <br />
            Gender: Male <br />
            Age: 1 year <br />
            Status: Adopted
        </div>
        <div class="uk-grid uk-width-1-1 uk-float">
            <p class="uk-width-1-1">
                Bob is a shy boy who requires patient handling and a confident owner.
            </p>
        </div>
    </div>

    <div id="titch" class="uk-grid uk-margin-large-top-remove uk-width-1-1 uk-hidden hedgehog">
        <a href="/images/hedgehogs/titch.jpg" title="Titch" data-uk-lightbox>
            <img src="/images/hedgehogs/titch.jpg" />
        </a>
        <div>
            <span class="uk-h3">Titch</span> <br />
            Gender: Male <br />
            Age: 1 year <br />
            Status: For adoption
        </div>
        <div class="uk-grid uk-width-1-1 uk-float">
            <p class="uk-width-1-1">
            </p>
        </div>
    </div>

    <div id="theo" class="uk-grid uk-margin-large-top-remove uk-width-1-1 uk-hidden hedgehog">
        <a href="/images/hedgehogs/theo.jpg" title="Theo" data-uk-lightbox>
            <img src="/images/hedgehogs/theo.jpg" />
        </a>
        <div>
            <span class="uk-h3">Theo</span> <br />
            Gender: Male <br />
            Age: 2 years old <br />
            Status: Not ready for adoption
        </div>
        <div class="uk-grid uk-width-1-1 uk-float">
            <p class="uk-width-1-1">
                Theo is a very lovely boy, very friendly and enjoys having time spent with him. 
                He would suit almost any type of home. However Theo is currently under going treatment for a couple of minor medical issues. 
            </p>
        </div>
    </div>

    <div id="hitchcock" class="uk-grid uk-margin-large-top-remove uk-width-1-1 uk-hidden hedgehog">
        <a href="/images/hedgehogs/hitchcock.jpg" title="Hitchcock" data-uk-lightbox>
            <img src="/images/hedgehogs/hitchcock.jpg" />
        </a>
        <div>
            <span class="uk-h3">Hitchcock</span> <br />
            Gender: Male <br />
            Age: ... <br />
            Status: Adopted
        </div>
        <div class="uk-grid uk-width-1-1 uk-float">
            <p class="uk-width-1-1">
                Hitchcock is a lovely boy, he's friendly and will suit most homes.
            </p>
        </div>
    </div>

    <div id="krampus" class="uk-grid uk-margin-large-top-remove uk-width-1-1 uk-hidden hedgehog">
        <a href="/images/hedgehogs/krampus.jpg" title="Krampus" data-uk-lightbox>
            <img src="/images/hedgehogs/krampus.jpg" />
        </a>
        <div>
            <span class="uk-h3">Krampus</span> <br />
            Gender: Male <br />
            Age: 1 year and a half <br />
            Status: Adopted
        </div>
        <div class="uk-grid uk-width-1-1 uk-float">
            <p class="uk-width-1-1">
                Krampus is a lovely boy, he's a little shy at first but soon comes around. He's a very handsome boy and will benefit from daily handling. 
            </p>
        </div>
    </div>

    <div id="henry" class="uk-grid uk-margin-large-top-remove uk-width-1-1 uk-hidden hedgehog">
        <a href="/images/hedgehogs/henry.jpg" title="Henry" data-uk-lightbox>
            <img src="/images/hedgehogs/henry.jpg" />
        </a>
        <div>
            <span class="uk-h3">Henry</span> <br />
            Gender: Male <br />
            Age: 6 months old <br />
            Status: Adopted
        </div>
        <div class="uk-grid uk-width-1-1 uk-float">
            <p class="uk-width-1-1">
                Henry is a lovely boy who was given up due to his owner being allergic, he's only young and will make a great pet. 
                He's a little shy when first woken up but soon unballs and wants to know what's happening.
            </p>
        </div>
    </div>
{{end}}


