{{define "title"}}Pygmy Hedgehog Rehoming{{end}}
{{define "color"}}heading-background{{end}}
{{define "scripts"}}
    <script src="js/promise.min.js" charset="utf-8"></script>
    <script src="js/fetch.min.js" charset="utf-8"></script>
    <script src="js/form.js" charset="utf-8"></script>
    <script src="js/components/tooltip.min.js" charset="utf-8"></script>
    <script src="js/components/notify.min.js" charset="utf-8"></script>
{{end}}
{{define "styles"}}
    <link rel="stylesheet" href="css/components/tooltip.almost-flat.min.css" />
    <link rel="stylesheet" href="css/components/notify.almost-flat.min.css" />
{{end}}

{{define "heading"}}
    <div class="uk-text-center uk-width-1-1" id="heading">
        Adoption Form
    </div>
{{end}}

{{define "body"}}
    <form class="uk-form uk-form-horizontal" action="api/adoption">
        <div class='uk-form-row'>
            <label class='uk-form-label'>Name</label>
            <div class='uk-form-controls'>
                <input type='text' name='name' required />
            </div>
        </div>

        <div class='uk-form-row'>
            <label class='uk-form-label'>Address</label>
            <div class='uk-form-controls'>
                <textarea name="address" rows="4" cols="22" required></textarea>
            </div>
        </div>

        <div class='uk-form-row'>
            <label class='uk-form-label'>DOB</label>
            <div class='uk-form-controls'>
                <input type='date' name='dob' required />
            </div>
        </div>

        <div class='uk-form-row'>
            <label class='uk-form-label'>Email</label>
            <div class='uk-form-controls'>
                <input type='email' name='email' required />
            </div>
        </div>

        <div class='uk-form-row'>
            <label class='uk-form-label'>Contact Number</label>
            <div class='uk-form-controls'>
                <input type='text' name='number' required />
            </div>
        </div>

        <div class='uk-form-row'>
            <label class='uk-form-label'>
                Name of Hedgehog You'd Like to Adopt
                <i class="uk-icon-question-circle" title="Leave blank if you don't have an exact hedgehog you'd like to adopt" data-uk-tooltip></i>
            </label>
            <div class='uk-form-controls'>
                <input type='text' name='hedgehog_name' />
            </div>
        </div>

        <fieldset class="uk-margin-large-top">
            <legend>
                Details for Waiting List
                <i class="uk-icon-question-circle" title="Leave blank if you don't want to go on the waiting list" data-uk-tooltip></i>
            </legend>

            <div class='uk-form-row'>
                <label class='uk-form-label'>Gender</label>
                <div class='uk-form-controls'>
                    <input type='radio' name='hedgehog_gender' value='male' /> Male
                    <input class="uk-margin-large-left" type="radio" name="hedgehog_gender" value="femail" /> Female
                </div>
            </div>

            <div class='uk-form-row'>
                <label class='uk-form-label'>Colour</label>
                <div class='uk-form-controls'>
                    <input type='text' name='hedgehog_colour' />
                </div>
            </div>
        </fieldset>

        <div class='uk-form-row uk-margin-large-top'>
            <label class='uk-form-label'>Do you currently own a hedgehog</label>
            <div class='uk-form-controls'>
                <input type='radio' name='currently_own_a_hedgehog' value='Yes' required /> Yes
                <input class="uk-margin-large-left" type="radio" name="currently_own_a_hedgehog" value="No" required /> No
            </div>
        </div>

        <div class='uk-form-row'>
            <label class='uk-form-label'>Do you have any experience with hedgehogs</label>
            <div class='uk-form-controls'>
                <input type='radio' name='experience' value='Yes' required /> Yes
                <input class="uk-margin-large-left" type="radio" name="experience" value="No" required /> No
            </div>
        </div>

        <div class='uk-form-row'>
            <label class='uk-form-label'>What do you plan to keep a hedghog in</label>
            <div class='uk-form-controls'>
                <textarea name="plan_to_keep_in" rows="5" cols="40" required></textarea>
            </div>
        </div>

        <div class='uk-form-row'>
            <label class='uk-form-label'>What do you plan to feed a hedgehog</label>
            <div class='uk-form-controls'>
                <textarea name="plan_to_feed" rows="5" cols="40" requred></textarea>
            </div>
        </div>

        <div class="uk-margin-top">
            <button class="uk-button uk-button-danger uk-float-left" id="reset">Reset</button>
            <button class="uk-button uk-button-success uk-float-right" id="submit">Submit</button>
        </div>
    </form>
{{end}}
