{{define "title"}}Pygmy Hedgehog Rehoming{{end}}
{{define "color"}}heading-background{{end}}



{{define "heading"}}
    <div class="uk-text-center uk-width-1-1" id="heading">
        Adoption Process
    </div>
{{end}}

{{define "body"}}
    <div class="uk-grid uk-width-1-1" id="adoption-process">
        <p class="uk-width-1-1">
            We aim to find Hedgehogs their most suitable home, when we home a hedgehog we hope this home will be life long. If you decide to rehome a hedgehog through our service we ask you to fill in the "adoption form". Once we get your form we may require more information from you and advise you on things that may need researching.
            Once your application is reviewed by our team and we are happy, we will contact you with the next step. You're welcome to collect your hedgehog once your application is successful however if for whatever reason you can't (i.e you live too far away) we can arrange transport to get the hedgehog to his/her forever home.
            We can arrange transport anywhere within the UK.
            We do ask for a £40 adoption fee which will go towards helping other hedgehogs that come into our care.
        </p>

        <p class="uk-width-1-1">
            We aim to respond to any applications within 5-7 days.<br />
            We would also like to thank you for offering an older hog a home.
        </p>
    </div>
{{end}}
