{{define "title"}}Pygmy Hedgehog Rehoming{{end}}
{{define "color"}}heading-background{{end}}
{{define "scripts"}}
    <script src="js/form-validator.js" charset="utf-8"></script>
    <script src="js/promise.min.js" charset="utf-8"></script>
    <script src="js/fetch.min.js" charset="utf-8"></script>
    <script src="js/form.js" charset="utf-8"></script>
    <script src="js/components/tooltip.min.js" charset="utf-8"></script>
    <script src="js/components/notify.min.js" charset="utf-8"></script>
{{end}}
{{define "styles"}}
    <link rel="stylesheet" href="css/components/tooltip.almost-flat.min.css" />
    <link rel="stylesheet" href="css/components/notify.almost-flat.min.css" />
{{end}}

{{define "heading"}}
    <div class="uk-text-center uk-width-1-1" id="heading">
        Foster Carers Application
    </div>
{{end}}

{{define "body"}}
    <form class="uk-form uk-form-horizontal" action="api/foster-carer">
        <div class='uk-form-row'>
            <label class='uk-form-label'>Name</label>
            <div class='uk-form-controls'>
                <input type='text' name='name' required />
            </div>
        </div>

        <div class='uk-form-row'>
            <label class='uk-form-label'>Address</label>
            <div class='uk-form-controls'>
                <textarea name="address" rows="4" cols="22" required></textarea>
            </div>
        </div>

        <div class='uk-form-row'>
            <label class='uk-form-label'>Email</label>
            <div class='uk-form-controls'>
                <input type='email' name='email' required />
            </div>
        </div>

        <div class='uk-form-row'>
            <label class='uk-form-label'>Contact Number</label>
            <div class='uk-form-controls'>
                <input type='text' name='number' required />
            </div>
        </div>

        <div class='uk-form-row'>
            <label class='uk-form-label'>Why would you like to foster?</label>
            <div class='uk-form-controls'>
                <textarea name="why_would_you_like_to_foster" rows="4" cols="22" required></textarea>
            </div>
        </div>

        <div class='uk-form-row'>
            <label class='uk-form-label'>What setup do you have?</label>
            <div class='uk-form-controls'>
                <textarea name="what_setup_do_you_have" rows="4" cols="22" required></textarea>
            </div>
        </div>

        <div class='uk-form-row'>
            <label class='uk-form-label'>Any Further Information</label>
            <div class='uk-form-controls'>
                <textarea name="any_further_information" rows="4" cols="22"></textarea>
            </div>
        </div>

        <div class='uk-form-row'>
            <label class='uk-form-label'>Are you over 18?</label>
            <div class='uk-form-controls'>
                <input type='checkbox' name='over_18' value='Yes' /> Yes
            </div>
        </div>

        <div class="uk-form-row">
            <button class="uk-button uk-button-danger uk-float-left" id="reset">Reset</button>
            <button class="uk-button uk-button-success uk-float-right" id="submit">Submit</button>
        </div>
    </form>
{{end}}
