{{define "title"}}Pygmy Hedgehog Rehoming{{end}}
{{define "color"}}heading-background{{end}}
{{define "scripts"}}
    <script src="js/form.js" charset="utf-8"></script>
    <script src="js/components/tooltip.min.js" charset="utf-8"></script>
    <script src="js/components/notify.min.js" charset="utf-8"></script>
{{end}}
{{define "styles"}}
    <link rel="stylesheet" href="css/components/tooltip.almost-flat.min.css" />
    <link rel="stylesheet" href="css/components/notify.almost-flat.min.css" />
{{end}}

{{define "heading"}}
<div class="uk-text-center uk-width-1-1" id="heading">
    Find a Home For Your Hog
</div>
{{end}}

{{define "body"}}
    <form class="uk-form uk-form-horizontal" action="api/home-for-hog">
        <div class='uk-form-row'>
            <label class='uk-form-label'>Your Name</label>
            <div class='uk-form-controls'>
                <input type='text' name='name' required />
            </div>
        </div>

        <div class='uk-form-row'>
            <label class='uk-form-label'>Street Address</label>
            <div class='uk-form-controls'>
                <input type='text' name='street_address' required />
            </div>
        </div>

        <div class='uk-form-row'>
            <label class='uk-form-label'>Address 2</label>
            <div class='uk-form-controls'>
                <input type='text' name='address2' />
            </div>
        </div>

        <div class='uk-form-row'>
            <label class='uk-form-label'>Town</label>
            <div class='uk-form-controls'>
                <input type='text' name='town' required />
            </div>
        </div>

        <div class='uk-form-row'>
            <label class='uk-form-label'>Postcode</label>
            <div class='uk-form-controls'>
                <input type='text' name='postcode' pattern="[A-Za-z]{1,2}[0-9Rr][0-9A-Za-z]? [0-9][ABD-HJLNP-UW-Zabd-hjlnp-uw-z]{2}" required />
            </div>
        </div>

        <div class='uk-form-row'>
            <label class='uk-form-label'>Email</label>
            <div class='uk-form-controls'>
                <input type='email' name='email' required />
            </div>
        </div>

        <div class='uk-form-row'>
            <label class='uk-form-label'>Contact Number</label>
            <div class='uk-form-controls'>
                <input type='text' name='number' required />
            </div>
        </div>

        <div class='uk-form-row'>
            <label class='uk-form-label'>Hedgehog Name</label>
            <div class='uk-form-controls'>
                <input type='text' name='hedgehog_name' required />
            </div>
        </div>

        <div class='uk-form-row'>
            <label class='uk-form-label'>Hedgehog Age</label>
            <div class='uk-form-controls'>
                <input type='text' name='hedgehog_age' required/>
            </div>
        </div>

        <div class='uk-form-row'>
            <label class='uk-form-label'>Hog Gender</label>
            <div class='uk-form-controls'>
                <select name="hedgehog_gender" style="height: 35px;">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>
        </div>

        <div class='uk-form-row'>
            <label class='uk-form-label'>Hedgehog Colour</label>
            <div class='uk-form-controls'>
                <input type='text' name='hedgehog_colour' />
            </div>
        </div>

        <div class='uk-form-row'>
            <label class='uk-form-label'>Any Additional Information</label>
            <div class='uk-form-controls'>
                <textarea name="additional_info" rows="6" cols="40" required></textarea>
            </div>
        </div>

        <div class="uk-margin-top">
            <button class="uk-button uk-button-danger uk-float-left" id="reset">Reset</button>
            <button class="uk-button uk-button-success uk-float-right" id="submit">Submit</button>
        </div>
    </form>
{{end}}
