{{define "title"}}Pygmy Hedgehog Rehoming{{end}}

{{define "body"}}
<ol type="I" id="nav">
    <li>
        <br />
        <a href="/">Home</a>
    </li>
    <li>
        <br />
        <a href="/about">About</a>
    </li>
    <li>
        <br />
        <a href="https://www.facebook.com/media/set/?set=oa.2456336157951245&type=3">Hogs For Adoption</a>
    </li>
    <li>
        <br />
        <a href="/adoption-process">Adoption Process</a>
    </li>
    <li>
        <br />
        <a href="https://forms.gle/zjwQNCi1RR7Ft1P48" target="_blank">Adoption Form</a>
    </li>
    <li>
        <br />
        <a href="/home-for-hog">Find a Home For Your Hog</a>
    </li>
    <li>
        <br />
        <a href="https://forms.gle/NqZsNWQSDxTswgD2A" target="_blank">Foster Carers Application</a>
    </li>
    <li>
        <br />

        <a href="/qa">Q & &nbsp; A</a>
    <li>
        <br />
        <a href="/contact">Contact</a>
    </li>
</ol>
{{end}}