{{define "title"}}Pygmy Hedgehog Rehoming{{end}}

<ol type="I" id="nav">
    <li>
        <br />
        <a href="/">Home</a>
    </li>
    <li>
        <br />
        <a href="/about">About</a>
    </li>
    <li>
        <br />
        <a href="/adoption">Adoption</a>
    </li>
    <li>
        <br />
        <a href="/adoption-form">Adoption Form</a>
    </li>
    <li>
        <br />
        <a href="home-for-hog">Find a Home For Your Hog</a>
    </li>
    <li>
        <br />
        <a href="/contact">Contact</a>
    </li>
</ol>
