{{define "nav"}}
<nav>
    <ul>
        <li>
            <a href='/'>Home</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="https://www.facebook.com/media/set/?set=oa.2456336157951245&type=3" target="_blank"  rel="noreferrer">Hogs For Adoption</a>
        </li>
        <li>
            <a href="/adoption-process">Adoption Process</a>
        </li>
        <li>
            <a href="/adoption-form">Adoption Form</a>
        </li>
        <li>
            <a href="/home-for-hog">Find a Home For Your Hog</a>
        </li>
        <li>
            <a href="/foster-carers-application">Foster Carers Application</a>
        </li>
        <li>
            <a href="/qa">Q & &nbsp;A</a>
        </li>
        <li>
            <a href="/contact">Contact</a>
        </li>
    </ul>
</nav>
{{end}}
