{{define "title"}}Pygmy Hedgehog Rehoming{{end}}
{{define "color"}}heading-background{{end}}



{{define "heading"}}
    <div class="uk-text-center uk-width-1-1" id="heading">
        Q & &nbsp;A
    </div>
{{end}}

{{define "body"}}
<span class="uk-h2">Handing in my hedgehog</span>
<br />
<p>
    Q) I need to rehome my hedgehog how do I do this?<br />
    A) Thank you for deciding to entrust us with your spiky baby, we know this isn't an easy choice to make. On our site you'll find a "find your hedgehog a home" form, if you fill this in with as much information as you can we will reply as soon as we can. Once we know more about your hedgehog and you we will arrange a time and date that suits you to arrange to collect or you can drop him/her off with one of our team/carers if that's easier for you.
</p>

<p>
    Q) Would you put my hedgehog down if you can't find him a home?<br />
    A) No, we have a no kill policy which means we won't ever put a healthy hedgehog down. If your hedgehog can't find a home for some reason then your hedgehog would stay with a foster carer being loved and spoiled for the rest of their lives.
</p>

<span class="uk-h2 uk-margin-large-top">Adopting</span>
<br />
<p>
    Q) Do I need to have already owned a hedgehog to adopt from you?<br />
    A) No, however some hedgehogs will need an experienced home these hedgehogs can only go to homes that have owned hedgehogs previously. However some hogs will be perfect for first time owners, it does all depend on the hedgehogs personality.
</p>

<p>
    Q) How much does it cost to adopt?<br />
    A) We charge a £40 adoption fee for an adult and £100 fee for under 4 month old hedgehogs, this goes towards upkeep of any other hedgehogs. It also helps deter people who haven't really thought owning a hedgehog through.
</p>

<p>
    Q) Who are you?<br />
    A) This service runs along side the African Pygmy Hedgehog Club UK and is run by the same committee.
</p>

<p>
    Q) Can I register as a foster carer?<br />
    A) Sure we'd love to be able to offer foster homes to hedgehogs that may not be able to go straight from previous owner to new owner for whatever reason. Feel free to drop us an email admin@pygmyhedgehogrehoming.co.uk
</p>

<p>
    Q) Where are you based?<br />
    A) We have foster homes all over the UK, some of which are with Club approved breeders who are trying to do their bit to help hogs needing homes.
</p>
{{end}}
